<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
      }
      table {
        width: 100%;
      }

      p,
      h2,
      h4 {
        margin: 0;
        padding: 0;
      }

      td {
        text-align: left;
      }

      th {
        text-align: left;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid rgb(9, 9, 9);
        border-bottom: 1px solid rgb(9, 9, 9);
      }
      .wide-itemColumn {
        width: 20%;
      }
      .wide-desColumn {
        width: 40%;
      }
    </style>
  </head>

  <body>
    <h1 style="text-align: center; margin-bottom: 20px">INVOICE</h1>
    <div>
      <h4><%= data.invoiceNumber%></h4>
      <h4><%= data.billDate%></h4>
    </div>

    <div style="display: flex; margin-top: 15px; margin-bottom: 15px">
      <div style="width: 40%">
        <h4>Bill To:</h4>
        <!-- <p><%= data.billTo.clientName %></p> -->
        <p><%= data.billTo.clientContact %></p>
        <p><%= data.billTo.clientEmail %></p>
        <p>
          <%= data.billTo.clientAddress %> <%= data.billTo.clientCity %> <%=
          data.billTo.clientPin %>, <%= data.billTo.clientState %>
        </p>
      </div>
      <div style="width: 40%; margin-top: 10px">
        <h4>Bill From:</h4>
        <p><%= data.billFrom.vendorName %></p>
        <p><%= data.billFrom.vendorContact %></p>
        <p><%= data.billFrom.vendorEmail %></p>
        <p><%= data.billFrom.vendorAddress %></p>
      </div>
    </div>

    <table>
      <tr>
        <th>S.NO.</th>
        <th class="wide-itemColumn">ITEM</th>
        <th class="wide-desColumn">DESCRIPTION</th>
        <th>QTY</th>
        <th>RATE</th>
        <th>AMOUNT</th>
      </tr>
      <% data.lineItems.forEach(function(item) { %>
      <tr>
        <td><%= item.id %></td>
        <td class="wide-itemColumn"><%= item.itemName %></td>
        <td class="wide-desColumn"><%= item.itemDescription %></td>
        <td><%= item.qty %></td>
        <td><%= item.rate %></td>
        <td><%= item.price %></td>
      </tr>
      <% }); %>
    </table>

    <% var sgstAmount = (data.totalPrice * 2.5) / 100; %> <% var cgstAmount
    =(data.totalPrice * 2.5) / 100; %>

    <div
      style="
        text-align: right;
        border-top: 1px solid rgb(9, 9, 9);
        margin-bottom: 2px;
      "
    >
      <p style="margin-top: 5px">SUB-TOTAL :<%= data.totalPrice %></p>
    </div>

    <!-- Account Details -->
    <h3>PAYMENT METHOD</h3>
    <p>Account Name: <%= data.accountDetail.accountHolder %></p>
    <p>Bank Account : <%= data.accountDetail.accountNumber %></p>
    <p>Bank Name: <%= data.accountDetail.bankName %></p>
    <p style="margin-bottom: 30px">IFSC : <%= data.accountDetail.ifscCode %></p>

    <!-- Notes -->
    <p style="text-align: center">
      FOR HOMEDELIVERY & TAKEAWAY CALL- 8967563521
    </p>
  </body>
</html>
