<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 9px;
      }
      table {
        width: 100%;
      }

      p,
      h2,
      h4 {
        margin: 0;
        padding: 0;
      }

      td {
        text-align: left;
      }

      th {
        text-align: left;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px dashed rgb(9, 9, 9);
        border-bottom: 1px dashed rgb(9, 9, 9);
      }
      .wide-column {
        width: 60%;
      }
    </style>
  </head>

  <body
    style="
      margin-left: 100px;
      margin-right: 100px;
      padding-left: 5px;
      padding-right: 5px;
    "
  >
    <div style="padding-left: 15px; padding-right: 15px">
      <div style="text-align: center; margin-left: 30px; margin-right: 30px">
        <h2>DUPLICATE COPY TAX INVOICE</h2>
        <h4>Invoice created in Template</h4>
        <h4>MOMO</h4>
      </div>

      <div
        style="
          text-align: center;
          margin-left: 40px;
          margin-right: 40px;
          margin-bottom: 5px;
          margin-top: 15px;
        "
      >
        <p>
          <%= data.billFrom.vendorAddress %>, <%= data.billFrom.vendorCity %>,
          <%= data.billFrom.vendorPin %>, <%= data.billFrom.vendorState %>
        </p>
        <p>Mob-<%= data.billFrom.vendorContact %></p>
        <p>GSTIN-27AADFW06023126</p>
      </div>

      <div style="text-align: center; margin-top: 15px">VATIN-27681708811V</div>

      <p>BillNo : F6882 Date : 29-05-2023 10:39 PM</p>
      <p>Table : 12 Covers: 3 Waiter: CHANDAN</p>
      <p>*Food*</p>

      <table>
        <tr>
          <!-- <th>S.No.</th> -->
          <th class="wide-column">Item</th>
          <th>Qty</th>
          <th>Rate</th>
          <th>Amount</th>
        </tr>
        <% data.lineItems.forEach(function(item) { %>
        <tr>
          <!-- <td><%= item.id %></td> -->
          <td class="wide-column"><%= item.itemName %></td>

          <td><%= item.qty %></td>
          <td><%= item.rate %></td>
          <td><%= item.price %></td>
        </tr>
        <% }); %>
      </table>

      <% var sgstAmount = (data.totalPrice * 2.5) / 100; %> <% var cgstAmount
      =(data.totalPrice * 2.5) / 100; %>

      <div
        style="
          text-align: right;
          border-top: 1px dashed rgb(9, 9, 9);

          margin-bottom: 2px;
        "
      >
        <p style="margin-top: 5px">SubTotal :<%= data.totalPrice %></p>
        <p>SGST 2.50%: <%=sgstAmount%></p>
        <p>CGST 2.50% :<%=cgstAmount %></p>
        <p>Total: <%= data.totalPrice+sgstAmount +cgstAmount%></p>
      </div>

      <!-- Grand Total -->
      <h3>Grand Total (RS) : <%= data.totalPrice+sgstAmount +cgstAmount%></h3>

      <p>FSSAI- 11519034000118</p>
    </div>
    <p>GPAY- 11519034000118</p>
    <!-- Account Details -->

    <p style="margin-top: 10px">UPI - 7887573089@okaxis</p>
    <p>Account Name: <%= data.accountDetail.accountHolder %></p>
    <p>Bank Account : <%= data.accountDetail.accountNumber %></p>
    <p>Bank Name: <%= data.accountDetail.bankName %></p>
    <p>IFSC : <%= data.accountDetail.ifscCode %></p>

    <!-- Notes -->

    <p style="margin-top: 10px">FOR HOMEDELIVERY & TAKEAWAY CALL- 8967563521</p>
  </body>
</html>
